<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
<meta name="HandheldFriendly" content="True"/>
<title>Template Syntax</title>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/journal/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<link rel="stylesheet" href="https://tobiju.github.io/share/prismjs/prism-prism.css" />
<link rel="stylesheet" href="https://tobiju.github.io/share/prismjs/prism-linenumbers.css" />
<link rel="stylesheet" href="/style.css" />
</head>
<body data-spy="scroll" data-target="#sideNav" data-offset="50" class="bbt-theme-journal">
<div class="page-wrapper">
    <header>
    
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="box-header container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#js-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                            <a class="navbar-brand" href="/">
                    <img alt="logo" src="/qiq.png" title="Home">
                </a>
                    </div>

        <div class="box-header-inner">
            <form class="form-search navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text"
                           placeholder="Search"
                           class="js-search-input form-control"
                           data-roothref="/">

                    <div class="js-search-results"></div>
                </div>
            </form>

            <div class="language-link">
                <ul>
                    <li>
                        <a>En</a>
                    </li>
                    <li>
                        <a href="https://qiqphp-ja.github.io/3.x/syntax.html">Ja</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            
    
    <ul class="nav navbar-nav">
                        <li>
    <a href="/3.x/">3.x</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/3.x/intro.html">Introduction</a>

    </li>
                        <li>
    <a href="/3.x/syntax.html">Template Syntax</a>

    </li>
                        <li>
    <a href="/3.x/data.html">Template Data</a>

    </li>
                        <li>
    <a href="/3.x/catalog.html">Template File Catalog</a>

    </li>
                        <li>
    <a href="/3.x/partials.html">Partials</a>

    </li>
                        <li>
    <a href="/3.x/layouts.html">Layouts</a>

    </li>
                        <li>
    <a href="/3.x/blocks.html">Blocks</a>

    </li>
                        <li>
    <a href="/3.x/inheritance.html">Inheritance</a>

    </li>
                        <li>
    <a href="/3.x/helpers/">Helpers</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/3.x/helpers/overview.html">Overview</a>

    </li>
                        <li>
    <a href="/3.x/helpers/general.html">General Helpers</a>

    </li>
                        <li>
    <a href="/3.x/helpers/forms.html">Form Helpers</a>

    </li>
                        <li>
    <a href="/3.x/helpers/custom.html">Custom Helpers</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/3.x/compiler.html">Compiler</a>

    </li>
                        <li>
    <a href="/3.x/static-analysis.html">Static Analysis</a>

    </li>
                        <li>
    <a href="/3.x/upgrading.html">Upgrading from</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/2.x/">2.x</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/2.x/intro.html">Introduction</a>

    </li>
                        <li>
    <a href="/2.x/syntax.html">Template Syntax</a>

    </li>
                        <li>
    <a href="/2.x/data.html">Template Data</a>

    </li>
                        <li>
    <a href="/2.x/catalog.html">Template File Catalog</a>

    </li>
                        <li>
    <a href="/2.x/partials.html">Partials</a>

    </li>
                        <li>
    <a href="/2.x/layouts.html">Layouts</a>

    </li>
                        <li>
    <a href="/2.x/blocks.html">Blocks</a>

    </li>
                        <li>
    <a href="/2.x/inheritance.html">Inheritance</a>

    </li>
                        <li>
    <a href="/2.x/helpers/">Helpers</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/2.x/helpers/overview.html">Overview</a>

    </li>
                        <li>
    <a href="/2.x/helpers/general.html">General Helpers</a>

    </li>
                        <li>
    <a href="/2.x/helpers/forms.html">Form Helpers</a>

    </li>
                        <li>
    <a href="/2.x/helpers/custom.html">Custom Helpers</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/2.x/compiler.html">Compiler</a>

    </li>
                        <li>
    <a href="/2.x/static-analysis.html">Static Analysis</a>

    </li>
                        <li>
    <a href="/2.x/upgrading.html">Upgrading</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/1.x/">1.x</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/1.x/intro.html">Introduction</a>

    </li>
                        <li>
    <a href="/1.x/syntax.html">Template Syntax</a>

    </li>
                        <li>
    <a href="/1.x/data.html">Template Data</a>

    </li>
                        <li>
    <a href="/1.x/locator.html">Template Locator</a>

    </li>
                        <li>
    <a href="/1.x/partials.html">Partials</a>

    </li>
                        <li>
    <a href="/1.x/layouts.html">Layouts</a>

    </li>
                        <li>
    <a href="/1.x/sections.html">Sections</a>

    </li>
                        <li>
    <a href="/1.x/blocks.html">Blocks</a>

    </li>
                        <li>
    <a href="/1.x/inheritance.html">Inheritance</a>

    </li>
                        <li>
    <a href="/1.x/helpers/">Helpers</a>
    
    <ul class="dropdown-menu">
                        <li>
    <a href="/1.x/helpers/overview.html">Overview</a>

    </li>
                        <li>
    <a href="/1.x/helpers/general.html">General Helpers</a>

    </li>
                        <li>
    <a href="/1.x/helpers/forms.html">Form Helpers</a>

    </li>
                        <li>
    <a href="/1.x/helpers/custom.html">Custom Helpers</a>

    </li>
            </ul>

    </li>
                        <li>
    <a href="/1.x/compiler.html">Compiler</a>

    </li>
            </ul>

    </li>
            </ul>

        </div>
    </div>
</nav>
</header>
<div class="container">
    <ol class="breadcrumb">
                        <li><a href="/">Qiq</a></li>
                                <li><a href="/3.x/">3.x</a></li>
                                <li class="active">Template Syntax</li>
            </ol>
    <div class="row">

                <div class="col-md-3">
            <nav class="nav-left hidden-xs hidden-sm" id="sideNav">
    <ul class="nav nav-stacked" data-spy="affix" data-offset-top="59" role="tablist">
                                <li>
                <a href="#1-2" title="Template&#x20;Syntax">Template Syntax</a>
            </li>
                                <li>
                <a href="#1-2-1" title="Escaping&#x20;and&#x20;Output">Escaping and Output</a>
            </li>
                                <li>
                <a href="#1-2-2" title="Control&#x20;Structures">Control Structures</a>
            </li>
                                <li>
                <a href="#1-2-3" title="Helpers">Helpers</a>
            </li>
                                <li>
                <a href="#1-2-4" title="Undefined&#x20;Helpers">Undefined Helpers</a>
            </li>
                                <li>
                <a href="#1-2-5" title="Other&#x20;PHP&#x20;Code">Other PHP Code</a>
            </li>
                                <li>
                <a href="#1-2-6" title="Whitespace">Whitespace</a>
            </li>
                                    </ul>
</nav>
        </div>
                <div class="col-md-9">
<div id="section-main"><h1 id="1-2">1.2. Template Syntax</h1>
<p>Qiq templates are native PHP templates, with an optional <code>{{ ... }}</code> syntax for
concise escaping and helper use.</p>
<h2 id="1-2-1">1.2.1. Escaping and Output</h2>
<p>Qiq will not echo any output itself, unless the opening tag starts with a
recognized escaping character:</p>
<ul>
<li>
<code>{{ ... }}</code> will not echo at all by itself</li>
<li>
<code>{{= ... }}</code> will echo raw unescaped output</li>
<li>
<code>{{h ... }}</code> will echo escaped for HTML content</li>
<li>
<code>{{a ... }}</code> will echo escaped for HTML attributes</li>
<li>
<code>{{u ... }}</code> will echo escaped for URLs</li>
<li>
<code>{{c ... }}</code> will echo escaped for CSS</li>
<li>
<code>{{j ... }}</code> will echo escaped for JavaScript</li>
</ul>
<p>The <code>{{a ... }}</code> tag offers the additional ability to output an array, using
the key as the attribute label and the value as the attribute value; multiple
attribute values will be space-separated. The following Qiq code ...</p>
<pre><code class="language-qiq">&lt;span {{a ['id' =&gt; 'foo', 'class' =&gt; ['bar', 'baz', 'dib']] }}&gt;Text&lt;/span&gt;
</code></pre>
<p>... will render as:</p>
<pre><code class="language-html">&lt;span id="foo" class="bar baz dib"&gt;Text&lt;/span&gt;
</code></pre>
<p>You can echo just about any variable, literal, function, method, expression, or
constant, including the magic constants <code>__DIR__</code>, <code>__FILE__</code>, and <code>__LINE__</code>.</p>
<pre><code class="language-qiq">{{h $foo }}
{{h "foo" }}
{{h 1 + 2 }}
{{h __FILE__ }}
{{h PHP_EOL }}
{{h $person-&gt;firstName() }}
{{h time() }}
</code></pre>
<p>If you need to embed double curly braces literally, and not have them
interpreted as Qiq tags, put a backslash between the braces. The following Qiq
code ...</p>
<pre><code class="language-qiq">{{ /* this is qiq code */ }}

{\{ this is not qiq code }\}
</code></pre>
<p>... will compile to this PHP code:</p>
<pre><code class="language-html+php">&lt;?php /* this is qiq code */ ?&gt;

{{ this is not qiq code }}
</code></pre>
<h2 id="1-2-2">1.2.2. Control Structures</h2>
<p>All control structures are written exactly as in PHP, using the
<a href="https://php.net/control-structures.alternative-syntax">alternative control structure syntax</a>
when available, inside <code>{{ ... }}</code> Qiq tags.</p>
<p>For example, this Qiq code ...</p>
<pre><code class="language-qiq">{{ foreach ($foo as $bar =&gt; $baz): }}
    {{ if ($baz === 0): }}
        {{= "First element!" }}
    {{ else: }}
        {{= "Not the first element." }}
    {{ endif }}
{{ endforeach }}
</code></pre>
<p>... is the same as this PHP code:</p>
<pre><code class="language-html+php">&lt;?php foreach ($foo as $bar =&gt; $baz): ?&gt;
    &lt;?php if ($bar === 0): ?&gt;
        &lt;?= "First element!" ?&gt;&lt;?= PHP_EOL ?&gt;
    &lt;?php else: ?&gt;
        &lt;?= "Not the first element." ?&gt;&lt;?= PHP_EOL ?&gt;
    &lt;?php endif ?&gt;
&lt;?php endforeach ?&gt;
</code></pre>
<h2 id="1-2-3">1.2.3. Helpers</h2>
<p>Any code inside Qiq tags, that PHP would recognize as a potential function
call, is treated as a Qiq template helper method. Thus, the following Qiq
syntax ...</p>
<pre><code class="language-qiq">{{= label ("Street Address", for: 'street') }}
{{= textField (
    name: 'street',
    value: $street,
) }}
</code></pre>
<p>... is equivalent to this PHP code with Qiq helpers:</p>
<pre><code class="language-php">&lt;?= $this-&gt;label("Street Address", for: 'street') ?&gt;
&lt;?= $this-&gt;textField(
    name: 'street',
    value: $street,
) ?&gt;
</code></pre>
<p>You can use helper method names anywhere inside Qiq code with or without the
<code>$this-&gt;</code> prefix. In all of the below examples, the <code>anchor()</code> helper result
is assigned to a variable:</p>
<pre><code class="language-qiq">{{ $a_com = anchor ('http://example.com') }}
{{ $a_net = $this-&gt;anchor ('http://example.net') }}
&lt;?php $a_org = $this-&gt;anchor('http://example.org') ?&gt;
</code></pre>
<h2 id="1-2-4">1.2.4. Undefined Helpers</h2>
<p>If a helper method name is not defined, the <em>Helpers</em> class will call it as as
PHP function instead. For example, if a <code>time</code> helper method is not defined,
the following will call the <a href="https://php.net/time"><code>time</code></a> PHP function:</p>
<pre><code class="language-qiq">{{h time () }}
</code></pre>
<p>However, this may not pass <a href="./static-analysis.html">static analysis</a> checks. To
improve static analysis results, prefix the call with a backslash to
explicitly indicate a PHP function:</p>
<pre><code class="language-qiq">{{h \time () }}
</code></pre>
<p>Alternatively, you may create a <a href="./helpers/custom.html">custom helper method</a>
to override the PHP function.</p>
<h2 id="1-2-5">1.2.5. Other PHP Code</h2>
<p>Qiq treats all other code inside <code>{{ ... }}</code> tags as plain old PHP code. For
example, this Qiq syntax ...</p>
<pre><code class="language-qiq">{{ $title = "Prefix: " . $title . " (Suffix)" }}
&lt;title&gt;{{h $title}}&lt;/title&gt;
</code></pre>
<p>... is equivalent to this PHP code with Qiq helpers:</p>
<pre><code class="language-html+php">&lt;?php $title = "Prefix: " . $title . " (Suffix)" ?&gt;
&lt;title&gt;&lt;?= $this-&gt;h($title) ?&gt;&lt;/title&gt;
</code></pre>
<h2 id="1-2-6">1.2.6. Whitespace</h2>
<p>Qiq goes to some lengths to help control whitespace in output, to keep the
compiled template code on the same lines as in the source template, and to
help make sure the output is formatted nicely.</p>
<h3 id="1-2-6-1">1.2.6.1. Newlines</h3>
<p>Qiq offers intuitive handling of newlines around tags:</p>
<ul>
<li>
<p>Non-echoing Qiq tags, just as with plain PHP, will <strong>consume</strong> any single
trailing newline immediately after the closing tag.</p>
</li>
<li>
<p>Echoing Qiq tags, whether raw or escaped, will <strong>honor</strong> any single trailing
newline immediately after the closing tag.</p>
</li>
</ul>
<p>For example, this Qiq code ...</p>
<pre><code class="language-qiq">{{ if ($condition): }}
{{= "foo" }}
{{ endif; }}
</code></pre>
<p>... compiles to this PHP code:</p>
<pre><code class="language-html+php">&lt;?php if ($condition): ?&gt;
&lt;?= "foo" ?&gt;&lt;?= PHP_EOL ?&gt;
&lt;?php endif ?&gt;
</code></pre>
<p>Non-echoing Qiq can be made to echo a single <strong>leading</strong> newline by using a tilde
with the opening tag. This Qiq code ...</p>
<pre><code class="language-qiq">{{~ foreach ($foo as $bar): }}
...
{{~ endforeach }}
</code></pre>
<p>... compiles to this PHP code:</p>
<pre><code class="language-html+php">&lt;?= PHP_EOL ?&gt;&lt;?php foreach ($foo as $bar): ?&gt;
...
&lt;?= PHP_EOL ?&gt;&lt;?php endforeach ?&gt;
</code></pre>
<p>This is especially useful with looping output code, where you want to honor
newlines at the very beginning and very end of the loop.</p>
<p>Echoing Qiq can be made to consume a single trailing newline by using a tilde
with the closing tag. This Qiq code ...</p>
<pre><code class="language-qiq">{{h $foo ~}}
</code></pre>
<p>... compiles to this PHP code:</p>
<pre><code class="language-html+php">&lt;?= $this-&gt;h($foo) ?&gt;
</code></pre>
<p>A tilde with the closing tag has no effect on non-echoing Qiq code.</p>
<h3 id="1-2-6-2">1.2.6.2. Indenting</h3>
<p>Echoing Qiq tags will automatically set the current indent for helpers based on
the leading whitespace before the opening Qiq tag.</p>
<p>This Qiq code ...</p>
<pre><code class="language-qiq">&lt;ul&gt;
    {{= items (['foo', 'bar', 'baz']) }}
&lt;/ul&gt;
</code></pre>
<p>... compiles to this PHP code:</p>
<pre><code class="language-qiq">&lt;ul&gt;
    &lt;?php $this-&gt;setIndent("    ") ?&gt;&lt;?= $this-&gt;items(['foo', 'bar', 'baz']) ?&gt;
&lt;/ul&gt;
</code></pre>
</div>        </div>
    </div>
</div>

<footer>
    <div class="links">
        <div class="container">
            <div class="row">
                <div class="prev col-xs-6">
                                            <a href="/3.x/intro.html">Previous</a>                                    </div>
                <div class="next col-xs-6">
                                            <a href="/3.x/data.html">Next</a>                                    </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Powered by <a href="https://github.com/tobiju/bookdown-bootswatch-templates" title="Visit project to generate your own docs">Bookdown Bootswatch Templates</a>.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lunr.js/0.6.0/lunr.min.js"></script>
<script src="//bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
<script src="//tobiju.github.io/share/prismjs/main.js"></script>
<script src="//tobiju.github.io/share/prismjs/prism.js"></script>
<script type="text/javascript">

    function Search() {
        this.store = {};
        this.index = lunr(function () {
            this.ref('id');
            this.field('title', {boost: 10});
            this.field('content');
        });
        this.searchResults = $('.js-search-results').addClass('list-search-results');
    }

    Search.prototype = {
        constructor: Search,
        init: function () {
            this.createIndex();
            this.bindEvents();
        },
        createIndex: function () {
            var $this = this,
                indexFilePath = $('.js-search-input').data('roothref') + 'index.json';

            $.getJSON(indexFilePath, function (data) {
                $.each(data, function (key, item) {
                    $this.index.add({
                        id: item.id,
                        title: item.title,
                        content: item.content
                    });

                    $this.store[item.id] = {
                        href: item.id,
                        title: item.title,
                        content: item.content
                    }
                });
            });
        },
        bindEvents: function () {
            var $this = this;

            $('html')
                .on('click', function (event) {
                    $this.close($(this), event);
                });

            $('.js-search-input, .js-search-results')
                .on('click', function (event) {
                    $this.click($(this), event);
                });

            $('.js-search-input')
                .on('focus', function (event) {
                    $this.focus($(this), event);
                })
                .on('keyup', function (event) {
                    $this.search($(this), event)
                })
                .on('keydown', function (event) {
                    if ($('.js-search-results ul').is(':visible')){
                        $this.navigation($(this), event)
                    }
                })
        },
        click: function (element, event) {
            event.stopPropagation();
        },
        focus: function (element, event) {
            this.searchInputWidth = element.css('width');
            element.animate({
                'width': 600
            }, 500);
            $('#js-navbar-collapse > ul').fadeOut();
        },
        close: function (element, event) {
            var $this = this;

            $('.js-search-results').hide();
            $('.js-search-input').animate({
                'width': $this.searchInputWidth
            }, 500);
            $('#js-navbar-collapse > ul').fadeIn();
        },
        search: function (element, event) {
            var $this = this;

            if (event.keyCode == 13 || event.keyCode == 38 || event.keyCode == 40) {
                return;
            }

            var query = element.val(),
                results = $this.index.search(query);

            if (!results.length) {
                $this.searchResults.empty();
                return;
            }

            var resultsList = results.reduce(function (ul, result) {
                var item = $this.store[result.ref];
                var title = $('<b>').text(item.title);

                var cropText = $this.cropText(item.content, query);
                if (cropText.length === 0) {
                    cropText = $('<p>').html(item.content.substring(0, 120) + "...");
                }
                var content = content = $('<p>').html(cropText);

                var div = $('<div>')
                    .append(title)
                    .append(content);
                var a = $('<a>').attr('href', item.href)
                    .append(div);
                var li = $('<li>')
                    .append(a);
                ul.append(li);

                return ul;
            }, $('<ul>'));

            this.searchResults.html(resultsList);

            $('.js-search-results').show();
            $(".js-search-results li:first-child").addClass('selected');
        },
        cropText: function (content, query) {
            var cropedText = '',
                re = new RegExp("\\s?(.{0,30})?" + query + ".*?\\b(.{0,30}.)?\\s?", "gi");

            $.each(content.match(re), function (key, value) {
                cropedText += '...' + value + '...';
            });

            return cropedText;
        },
        navigation: function (element, event) {
            var selected = null,
                listSelector = ".js-search-results ul",
                listItemSelector = listSelector + " li",
                selectedListItemSelector = listItemSelector + ".selected",
                selectedListItemSelectorAnchor = listItemSelector + ".selected a";

            // enter
            if (event.keyCode == 13) {
                event.preventDefault();
                this.close();
                window.location.replace($(selectedListItemSelectorAnchor).attr('href'));
            }

            // up
            if (event.keyCode == 38) {
                selected = $(selectedListItemSelector);
                $(listItemSelector).removeClass("selected");

                if (selected.prev().length == 0) {
                    selected.siblings().last().addClass("selected");
                } else {
                    selected.prev().addClass("selected");
                }

                selected = $(selectedListItemSelector);
                this.scrollListUp(selected);
            }

            // down
            if (event.keyCode == 40) {
                selected = $(selectedListItemSelector);
                $(listItemSelector).removeClass("selected");

                if (selected.next().length == 0) {
                    selected.siblings().first().addClass("selected");
                } else {
                    selected.next().addClass("selected");
                }

                selected = $(selectedListItemSelector);
                this.scrollListDown(selected);
            }
        },
        scrollListDown: function (element) {
            var ul = element.parent(),
                ulHeight = ul.height(),
                ulBottomPosition = ulHeight + ul.scrollTop(),
                liBottomPosition = element.position().top + element.height();

            if (liBottomPosition > ulBottomPosition) {
                ul.scrollTop(liBottomPosition - ulHeight);
            }

            if (element.is(':first-child')) {
                ul.scrollTop(0);
            }
        },
        scrollListUp: function (element) {
            var ul = element.parent(),
                ulTopPosition = ul.scrollTop(),
                liTopPosition = element.position().top;

            if (liTopPosition < ulTopPosition) {
                ul.scrollTop(element.position().top);
            }

            if (element.is(':last-child')) {
                ul.scrollTop(element.position().top - element.height());
            }
        }
    };

    $(function () {
        var search = new Search();
        search.init();
    });
</script>
</body>
</html>
